*.sln
*.pdb
*.
Intermediate/*
Plugins/*/Intermediate/*
Saved/*
.vs/
# Builds
Build/*
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
!Build/**/*.ico
*_BuiltData.uasset
DerivedDataCache/*
*.xcodeproj
*.xcworkspace
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
*.exe
*.out
*.app
*.ipa
*.lai
*.la
*.a
*.lib
*.mod
*.slo
*.lo
*.o
*.obj
